@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr.css";
@import "./globals.scss";

/* Application-wide Styles */
h1 {
  color: #6b2d6f;
  font-family: 'Poppins', sans-serif;
  font-size: 300%;
}
h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 150%;
}
body {
  background: $background;
  margin: 2em;
}
/* everywhere else */
* {
  font-family: 'Montserrat', sans-serif;
  color: $primary;
}

li {
  list-style-type: none;
}

a {
  color: $secondary;
  text-decoration: none;
}

label > * {
  color: $secondary !important;
}

mat-form-field.full-width {
  width: 100%;
}
